*{/*apply to everything on the page*/
  box-sizing: border-box;
}


body, html{
  margin: 0pt;
  padding: 0pt;
  background-color: #fff7ee;
}

body{
  display: flex;
  flex-direction: column;
}

h1{
  margin-top: 35vmin;
  color :white;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 18vmin;
  letter-spacing: 4vmin;
  margin-bottom: 20vmin;
}

h2{
  color :white;
  text-align: center;
  font-family: sans-serif;
  font-size: 4vh;
  margin: 0pt;
}

h3{
  padding-left: 8vw;
  font-size: 3vh;
}

h4{
  padding-left: 8vw;
  font-size: 3vh;
  margin: 0;
  margin-bottom: 10pt;
}

p{
  font-size: 3vh;
  text-indent: 6vw;
  line-height: 2em;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top:2vh;
  margin-bottom: 2vh;
}

iframe{
  width: 80vw;
  height: 80vh;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}


.navBar{
  display: flex;
  position: fixed;
  height: 10vh;
  width: 100vw;
  justify-content: center;
  background-color: black;
}

.navItems{
  display:flex;
  height: 100%;
  width: 60vw;
  justify-content: space-around;
}
.navSub{
  margin-top:3vh;
  margin-left: 1.5vw;
  margin-right:1.5vw;
  font-size: 3.5vh;
  font-family: sans-serif;
  background-color: black;
}


.linkButton{
  color: grey;


}
.linkButton:hover{
  color: white;
  text-decoration: none;
  transition-duration: 0.25s;
}




.main{
  display:flex;
  flex-direction: column;
}


.heroBanner{
  display: flex;
  flex-direction: column;
  background-image: url(01.jpg);
  background-size: cover; /*scale the image according to the size of element*/
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height:100vh;
}

.content{
  display: flex;
  flex-direction: column;
  padding-left: 10vw;
  padding-right:10vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.paraContainer{
  display: flex;
  flex-direction: column;
  margin: 20pt;
}

.citation{
  margin: 0pt;
  padding-left: 20%;
  padding-right: 20%;
  font-family: 'Cardo',serif;
  text-indent: 50pt;
  line-height: 2em;
}

.sig{
  margin: 0pt;
  font-size: 2.5vh;
  padding-left: 45%;
  font-family: 'Cardo',serif;
}

.figDes{
  text-align: center;
  font-size: 2vh;
  margin: 0pt;
  color: #5e5e5e;
  font-style:italic;
}

#img02{
  display: flex;
  flex-direction: column;
  background-image: url(02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:91vh;
}

#img03{
  display: flex;
  background-image: url(03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:91vh;
}

#img04{
  display: flex;
  background-image: url(04.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:91vh;
}

.blackLayer{
  display: flex;
  width: 100%;
  height: 100%;
}

.blackLayer:hover{
    background-color: rgba(0, 0, 0, 0.4);
    transition-duration: 0.5s;

}

.onPicText{
  display: flex;
  width: 100vw;
  height: 91vh;
  margin: 0;
  padding: 0;
}

.end{
  color :white;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 7vh;
  padding-top: 25vh;
  padding-bottom:30vh;
  opacity: 0
}

.end:hover{
  opacity: 1;
  transition-duration: 0.5s;
}

#video{
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
}

#picTitle{
  margin-top:20vh;
  margin-bottom: 5vh;
  text-align: center;
  font-size: 8vh;
  font-family: Georgia;
}

.imgContainer{
  display: flex;
  margin-top: 89.66px;
  display: grid;
}

.picDes{
  opacity: 0;
  color: white;
  margin: 0pt;
  padding-left:10%;
  padding-right:10%;
  padding-top:20%;
  padding-bottom:20%;
}

.picDes:hover{
  opacity: 1;

}
.imgLst{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}


#img05{
  display: flex;
  background-image: url(05.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 33vw;
  height: 100vh;

}

#img06{
  display: flex;
  background-image: url(06.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 67vw;
  height: 100vh;
}


#img07{
  display: flex;
  background-image: url(07.JPG);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 40vw;
  height: 100vh;
}

#img08{
  display: flex;
  background-image: url(08.GIF);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50vw;
  height: 100vh;
}

#img09{
  display: flex;
  background-image: url(09.JPG);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50vw;
  height: 100vh;
}

#img10{
  display: flex;
  background-image: url(10.JPG);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50vw;
  height: 100vh;
}

#date{
  font-size: 100pt;
}
